html {
  box-sizing: border-box;
  background-color: greenyellow;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  color: white;
  margin: 0;
}
.nav-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 500px;
  background-image: url(/img/Grupo22@2x.jpg);
  background-size: cover;
}

#link-list {
  margin-right: 100px;
}
ul {
  list-style: none;
}
li > a {
  text-decoration: none;
}
#logo-img {
  width: 200px;
  height: 100px;
  background-image: url(/img/Trazado58.svg);
  background-repeat: no-repeat;
}
.separador {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}

#input-buscar {
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 15px;
  opacity: 0.4;
  border: none;
}
#csica-img {
  width: 200px;
  height: 100px;
}
.tipo li {
  border-radius: 15px;
  width: 200px;
  background-color: white;
  text-align: center;
  margin: 10px;
  color: black;
  opacity: 0.3;
  border: none;
}
#signin {
  border-radius: 15px;
  margin-top: 0px;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  width: 150px;
  height: 30px;
  background-color: transparent;

  margin: 10px;
  color: white;
  border-color: white;
}
#options {
  display: flex;
  flex-direction: row;
}
.tipo {
  display: flex;
  flex-wrap: wrap;
}
.segundo-container {
  display: flex;
  width: 500px;
  flex-direction: row;
}
